.modal-container{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.75)
  }
  .modal {
    font-size: 16px;
    color: white(0, 28, 104);
    font-family: Arial Black;
    position: absolute;
    top: 130px;
    left: 190px;
    right: 190px;
    bottom: 130px;
    border: 5px solid rgba(0, 19, 48, 0.74);
    background: #fff;
    overflow: auto;
    text-align: center;
    background-color: teal
  }
  .my-form {
    text-align:auto;
    font-size: 20px;
    font-family: Arial Black;
  }

  .form-button {
    margin-top: 1rem !important;
    background: white;
    color: teal  !important;
    font: inherit;
    border: 1.5px solid #0e4f1f;
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}
  