.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75)
}
.modal {
  font-size: 20px;
  color: rgb(0, 28, 104);
  font-family: Arial Black;
  position: absolute;
  top: 130px;
  left: 190px;
  right: 190px;
  bottom: 130px;
  border: 5px solid rgba(0, 19, 48, 0.74);
  background: #fff;
  overflow: auto;
  text-align: center;
  background-color: rgba(132, 171, 255, 0.562)
}
.my-form {
  text-align:auto;
  font-size: 20px;
  font-family: Arial Black;
}

input {
  margin-right: 1rem;
  width: 30rem;
  height: 1.5rem;
}

.error {
  color: red;
  margin-top: 0.3rem;
  font-weight: normal;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-weight: bold;
}

input[type="submit"] {
  margin-top: 2rem;
  cursor: pointer;
}
